[defaults]
inventory = inventory

# Disable host key checking for SSH connections. 
# Host key checking is a security feature that verifies the authenticity of the remote host's SSH key. 
# Disabling it can be useful in dynamic environments where hosts are frequently created and destroyed, 
# but it also introduces security risks. When hosts are created and destroyed frequently,
# their SSH keys may change, leading to host key verification failures.
host_key_checking = False  